/*
*/
body {
	background-color : #000000;
}

div.page {
	position : absolute;
	width : 60%;
	height : 92%;
	/*text-align : center;*/
	background-color : #ffffff;
	margin-top : 1%;
	margin-left : 20%;
	margin-right : 20%;
	margin-bottom : 1%;
	padding : 2%;
}

#lesson {
	position : absolute;
	top  : 50px;
	left : 50px;
	width  : 700px;
	height : 450px;
	z-index : 0;
	margin : 0px 0px 0px 0px;
	background : #ffffff;
}

h1 {
	text-align : center;
}

.jxgbox {
	width  : 600px;
	height : 300px;
}
